<widget id="com.ChatDawg" version="0.0.1">
        <name>ChatDawg</name>
        <description>
            The Leading Private Chat App.
        </description>
        <author email="chatdawg@a-information.com" href="http://www.A-information.com/chatdawg">
            A-information.com
        </author>
        <content src="index.html" />
        <access origin="*" />
</widget>

